.note {
    font-style: italic;
    font-weight: bold;
  }
  
  .editorial {
    background: rgb(255, 0, 0, 0.25);
    padding: 10px;
  }
  
  .editorial:before {
    content: 'Editor: ';
  }
  
  .red{
    color: red;
   }
   
   .bg-yellow{
       background-color: yellow;
   }
   
   #firstdiv{
    /* target element using id */
       /* background-color: red; */
   }